<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="com.mycompany.chservicetime.data.source.local.CHServiceTimeProvider"
            android:authorities="com.mycompany.chservicetime"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>

</manifest>